<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<fieldset>
    <form method="post" action="/user">
        <label th:for="email">Email: </label>
        <input type="email" name="email" id="email" th:value="${email}" />
        <label th:for="username">Username: </label>
        <input type="text" name="userName" id="username" th:value="${username}" />
        <label th:for="password">Password: </label>
        <input type="password" name="password" id="password" />
        <label th:for="verify">Verify: </label>
        <input type="password" name="verify" id="verify" />
        <span th:text="${error} ? 'Passwords must match'"></span>
        <input type="submit" value="Submit" />
    </form>
</fieldset>

</body>
</html>